.clock{
    display: flex;
    flex-direction: row;
}
div{
    font-size: 120px;
    .time0{
        color: red
    }
    .time1{
        color: orange
    }
    .time2{
        color: green
    }
    .time3{
        color: lightblue
    }
    .time4{
        color: blue
    }
    .time5{
        color: violet
    }
    .time6{
        color: lime
    }
    .time0{
        color: lightcoral
    }
}
